<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="Categories" EntityName="Categories" Owner="dbo" PropertyName="Categories" FieldName="_categories" FriendlyName="Categories" IncludeInOutput="true">
		<Column Id="CategoryID" CSType="System.Int32" PropertyName="CategoryId" FieldName="_categoryId" FriendlyName="Category Id" IncludeInOutput="true" />
		<Column Id="CategoryName" CSType="System.String" PropertyName="CategoryName" FieldName="_categoryName" FriendlyName="Category Name" IncludeInOutput="true" />
		<Column Id="Description" CSType="System.String" PropertyName="Description" FieldName="_description" FriendlyName="Description" IncludeInOutput="true" />
		<Column Id="Picture" CSType="System.Byte[]" PropertyName="Picture" FieldName="_picture" FriendlyName="Picture" IncludeInOutput="true" />
		<ChildCollection Id="ProductsCollection" PropertyName="ProductsCollection" FieldName="_productsCategoryId" FriendlyName="ProductsCollection" CSType="TList&lt;Products&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Products_Categories" IncludeInOutput="true"/>
	</Table>
	<Table Id="CustomerCustomerDemo" EntityName="CustomerCustomerDemo" Owner="dbo" PropertyName="CustomerCustomerDemo" FieldName="_customerCustomerDemo" FriendlyName="Customer Customer Demo" IncludeInOutput="true">
		<Column Id="CustomerID" CSType="System.String" PropertyName="CustomerId" FieldName="_customerId" FriendlyName="Customer Id" IncludeInOutput="true" />
		<Column Id="CustomerTypeID" CSType="System.String" PropertyName="CustomerTypeId" FieldName="_customerTypeId" FriendlyName="Customer Type Id" IncludeInOutput="true" />
	</Table>
	<Table Id="CustomerDemographics" EntityName="CustomerDemographics" Owner="dbo" PropertyName="CustomerDemographics" FieldName="_customerDemographics" FriendlyName="Customer Demographics" IncludeInOutput="true">
		<Column Id="CustomerTypeID" CSType="System.String" PropertyName="CustomerTypeId" FieldName="_customerTypeId" FriendlyName="Customer Type Id" IncludeInOutput="true" />
		<Column Id="CustomerDesc" CSType="System.String" PropertyName="CustomerDesc" FieldName="_customerDesc" FriendlyName="Customer Desc" IncludeInOutput="true" />
		<ChildCollection Id="CustomerIdCustomersCollection_From_CustomerCustomerDemo" PropertyName="CustomerIdCustomersCollection_From_CustomerCustomerDemo" FieldName="customerIdCustomersCollectionFromCustomerCustomerDemo" FriendlyName="CustomerIdCustomersCollection_From_CustomerCustomerDemo" CSType="TList&lt;Customers&gt;" RelationshipType="ManyToMany" ForeignKeyName="FK_CustomerCustomerDemo" IncludeInOutput="true"/>
		<ChildCollection Id="CustomerCustomerDemoCollection" PropertyName="CustomerCustomerDemoCollection" FieldName="_customerCustomerDemoCustomerTypeId" FriendlyName="CustomerCustomerDemoCollection" CSType="TList&lt;CustomerCustomerDemo&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_CustomerCustomerDemo" IncludeInOutput="true"/>
	</Table>
	<Table Id="Customers" EntityName="Customers" Owner="dbo" PropertyName="Customers" FieldName="_customers" FriendlyName="Customers" IncludeInOutput="true">
		<Column Id="CustomerID" CSType="System.String" PropertyName="CustomerId" FieldName="_customerId" FriendlyName="Customer Id" IncludeInOutput="true" />
		<Column Id="CompanyName" CSType="System.String" PropertyName="CompanyName" FieldName="_companyName" FriendlyName="Company Name" IncludeInOutput="true" />
		<Column Id="ContactName" CSType="System.String" PropertyName="ContactName" FieldName="_contactName" FriendlyName="Contact Name" IncludeInOutput="true" />
		<Column Id="ContactTitle" CSType="System.String" PropertyName="ContactTitle" FieldName="_contactTitle" FriendlyName="Contact Title" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="City" CSType="System.String" PropertyName="City" FieldName="_city" FriendlyName="City" IncludeInOutput="true" />
		<Column Id="Region" CSType="System.String" PropertyName="Region" FieldName="_region" FriendlyName="Region" IncludeInOutput="true" />
		<Column Id="PostalCode" CSType="System.String" PropertyName="PostalCode" FieldName="_postalCode" FriendlyName="Postal Code" IncludeInOutput="true" />
		<Column Id="Country" CSType="System.String" PropertyName="Country" FieldName="_country" FriendlyName="Country" IncludeInOutput="true" />
		<Column Id="Phone" CSType="System.String" PropertyName="Phone" FieldName="_phone" FriendlyName="Phone" IncludeInOutput="true" />
		<Column Id="Fax" CSType="System.String" PropertyName="Fax" FieldName="_fax" FriendlyName="Fax" IncludeInOutput="true" />
		<ChildCollection Id="OrdersCollection" PropertyName="OrdersCollection" FieldName="_ordersCustomerId" FriendlyName="OrdersCollection" CSType="TList&lt;Orders&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Orders_Customers" IncludeInOutput="true"/>
		<ChildCollection Id="CustomerTypeIdCustomerDemographicsCollection_From_CustomerCustomerDemo" PropertyName="CustomerTypeIdCustomerDemographicsCollection_From_CustomerCustomerDemo" FieldName="customerTypeIdCustomerDemographicsCollectionFromCustomerCustomerDemo" FriendlyName="CustomerTypeIdCustomerDemographicsCollection_From_CustomerCustomerDemo" CSType="TList&lt;CustomerDemographics&gt;" RelationshipType="ManyToMany" ForeignKeyName="FK_CustomerCustomerDemo_Customers" IncludeInOutput="true"/>
		<ChildCollection Id="CustomerCustomerDemoCollection" PropertyName="CustomerCustomerDemoCollection" FieldName="_customerCustomerDemoCustomerId" FriendlyName="CustomerCustomerDemoCollection" CSType="TList&lt;CustomerCustomerDemo&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_CustomerCustomerDemo_Customers" IncludeInOutput="true"/>
	</Table>
	<Table Id="Employees" EntityName="Employees" Owner="dbo" PropertyName="Employees" FieldName="_employees" FriendlyName="Employees" IncludeInOutput="true">
		<Column Id="EmployeeID" CSType="System.Int32" PropertyName="EmployeeId" FieldName="_employeeId" FriendlyName="Employee Id" IncludeInOutput="true" />
		<Column Id="LastName" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="FirstName" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="Title" CSType="System.String" PropertyName="Title" FieldName="_title" FriendlyName="Title" IncludeInOutput="true" />
		<Column Id="TitleOfCourtesy" CSType="System.String" PropertyName="TitleOfCourtesy" FieldName="_titleOfCourtesy" FriendlyName="Title Of Courtesy" IncludeInOutput="true" />
		<Column Id="BirthDate" CSType="System.DateTime?" PropertyName="BirthDate" FieldName="_birthDate" FriendlyName="Birth Date" IncludeInOutput="true" />
		<Column Id="HireDate" CSType="System.DateTime?" PropertyName="HireDate" FieldName="_hireDate" FriendlyName="Hire Date" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="City" CSType="System.String" PropertyName="City" FieldName="_city" FriendlyName="City" IncludeInOutput="true" />
		<Column Id="Region" CSType="System.String" PropertyName="Region" FieldName="_region" FriendlyName="Region" IncludeInOutput="true" />
		<Column Id="PostalCode" CSType="System.String" PropertyName="PostalCode" FieldName="_postalCode" FriendlyName="Postal Code" IncludeInOutput="true" />
		<Column Id="Country" CSType="System.String" PropertyName="Country" FieldName="_country" FriendlyName="Country" IncludeInOutput="true" />
		<Column Id="HomePhone" CSType="System.String" PropertyName="HomePhone" FieldName="_homePhone" FriendlyName="Home Phone" IncludeInOutput="true" />
		<Column Id="Extension" CSType="System.String" PropertyName="Extension" FieldName="_extension" FriendlyName="Extension" IncludeInOutput="true" />
		<Column Id="Photo" CSType="System.Byte[]" PropertyName="Photo" FieldName="_photo" FriendlyName="Photo" IncludeInOutput="true" />
		<Column Id="Notes" CSType="System.String" PropertyName="Notes" FieldName="_notes" FriendlyName="Notes" IncludeInOutput="true" />
		<Column Id="ReportsTo" CSType="System.Int32?" PropertyName="ReportsTo" FieldName="_reportsTo" FriendlyName="Reports To" IncludeInOutput="true" />
		<Column Id="PhotoPath" CSType="System.String" PropertyName="PhotoPath" FieldName="_photoPath" FriendlyName="Photo Path" IncludeInOutput="true" />
		<ChildCollection Id="EmployeesCollection" PropertyName="EmployeesCollection" FieldName="_employeesReportsTo" FriendlyName="EmployeesCollection" CSType="TList&lt;Employees&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Employees_Employees" IncludeInOutput="true"/>
		<ChildCollection Id="OrdersCollection" PropertyName="OrdersCollection" FieldName="_ordersEmployeeId" FriendlyName="OrdersCollection" CSType="TList&lt;Orders&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Orders_Employees" IncludeInOutput="true"/>
		<ChildCollection Id="EmployeeTerritoriesCollection" PropertyName="EmployeeTerritoriesCollection" FieldName="_employeeTerritoriesEmployeeId" FriendlyName="EmployeeTerritoriesCollection" CSType="TList&lt;EmployeeTerritories&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_EmployeeTerritories_Employees" IncludeInOutput="true"/>
		<ChildCollection Id="TerritoryIdTerritoriesCollection_From_EmployeeTerritories" PropertyName="TerritoryIdTerritoriesCollection_From_EmployeeTerritories" FieldName="territoryIdTerritoriesCollectionFromEmployeeTerritories" FriendlyName="TerritoryIdTerritoriesCollection_From_EmployeeTerritories" CSType="TList&lt;Territories&gt;" RelationshipType="ManyToMany" ForeignKeyName="FK_EmployeeTerritories_Employees" IncludeInOutput="true"/>
	</Table>
	<Table Id="EmployeeTerritories" EntityName="EmployeeTerritories" Owner="dbo" PropertyName="EmployeeTerritories" FieldName="_employeeTerritories" FriendlyName="Employee Territories" IncludeInOutput="true">
		<Column Id="EmployeeID" CSType="System.Int32" PropertyName="EmployeeId" FieldName="_employeeId" FriendlyName="Employee Id" IncludeInOutput="true" />
		<Column Id="TerritoryID" CSType="System.String" PropertyName="TerritoryId" FieldName="_territoryId" FriendlyName="Territory Id" IncludeInOutput="true" />
	</Table>
	<Table Id="Order Details" EntityName="OrderDetails" Owner="dbo" PropertyName="OrderDetails" FieldName="_orderDetails" FriendlyName="Order Details" IncludeInOutput="true">
		<Column Id="OrderID" CSType="System.Int32" PropertyName="OrderId" FieldName="_orderId" FriendlyName="Order Id" IncludeInOutput="true" />
		<Column Id="ProductID" CSType="System.Int32" PropertyName="ProductId" FieldName="_productId" FriendlyName="Product Id" IncludeInOutput="true" />
		<Column Id="UnitPrice" CSType="System.Decimal" PropertyName="UnitPrice" FieldName="_unitPrice" FriendlyName="Unit Price" IncludeInOutput="true" />
		<Column Id="Quantity" CSType="System.Int16" PropertyName="Quantity" FieldName="_quantity" FriendlyName="Quantity" IncludeInOutput="true" />
		<Column Id="Discount" CSType="System.Single" PropertyName="Discount" FieldName="_discount" FriendlyName="Discount" IncludeInOutput="true" />
	</Table>
	<Table Id="Orders" EntityName="Orders" Owner="dbo" PropertyName="Orders" FieldName="_orders" FriendlyName="Orders" IncludeInOutput="true">
		<Column Id="OrderID" CSType="System.Int32" PropertyName="OrderId" FieldName="_orderId" FriendlyName="Order Id" IncludeInOutput="true" />
		<Column Id="CustomerID" CSType="System.String" PropertyName="CustomerId" FieldName="_customerId" FriendlyName="Customer Id" IncludeInOutput="true" />
		<Column Id="EmployeeID" CSType="System.Int32?" PropertyName="EmployeeId" FieldName="_employeeId" FriendlyName="Employee Id" IncludeInOutput="true" />
		<Column Id="OrderDate" CSType="System.DateTime?" PropertyName="OrderDate" FieldName="_orderDate" FriendlyName="Order Date" IncludeInOutput="true" />
		<Column Id="RequiredDate" CSType="System.DateTime?" PropertyName="RequiredDate" FieldName="_requiredDate" FriendlyName="Required Date" IncludeInOutput="true" />
		<Column Id="ShippedDate" CSType="System.DateTime?" PropertyName="ShippedDate" FieldName="_shippedDate" FriendlyName="Shipped Date" IncludeInOutput="true" />
		<Column Id="ShipVia" CSType="System.Int32?" PropertyName="ShipVia" FieldName="_shipVia" FriendlyName="Ship Via" IncludeInOutput="true" />
		<Column Id="Freight" CSType="System.Decimal?" PropertyName="Freight" FieldName="_freight" FriendlyName="Freight" IncludeInOutput="true" />
		<Column Id="ShipName" CSType="System.String" PropertyName="ShipName" FieldName="_shipName" FriendlyName="Ship Name" IncludeInOutput="true" />
		<Column Id="ShipAddress" CSType="System.String" PropertyName="ShipAddress" FieldName="_shipAddress" FriendlyName="Ship Address" IncludeInOutput="true" />
		<Column Id="ShipCity" CSType="System.String" PropertyName="ShipCity" FieldName="_shipCity" FriendlyName="Ship City" IncludeInOutput="true" />
		<Column Id="ShipRegion" CSType="System.String" PropertyName="ShipRegion" FieldName="_shipRegion" FriendlyName="Ship Region" IncludeInOutput="true" />
		<Column Id="ShipPostalCode" CSType="System.String" PropertyName="ShipPostalCode" FieldName="_shipPostalCode" FriendlyName="Ship Postal Code" IncludeInOutput="true" />
		<Column Id="ShipCountry" CSType="System.String" PropertyName="ShipCountry" FieldName="_shipCountry" FriendlyName="Ship Country" IncludeInOutput="true" />
		<ChildCollection Id="ProductIdProductsCollection_From_OrderDetails" PropertyName="ProductIdProductsCollection_From_OrderDetails" FieldName="productIdProductsCollectionFromOrderDetails" FriendlyName="ProductIdProductsCollection_From_OrderDetails" CSType="TList&lt;Products&gt;" RelationshipType="ManyToMany" ForeignKeyName="FK_Order_Details_Orders" IncludeInOutput="true"/>
		<ChildCollection Id="OrderDetailsCollection" PropertyName="OrderDetailsCollection" FieldName="_orderDetailsOrderId" FriendlyName="OrderDetailsCollection" CSType="TList&lt;OrderDetails&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Order_Details_Orders" IncludeInOutput="true"/>
	</Table>
	<Table Id="Products" EntityName="Products" Owner="dbo" PropertyName="Products" FieldName="_products" FriendlyName="Products" IncludeInOutput="true">
		<Column Id="ProductID" CSType="System.Int32" PropertyName="ProductId" FieldName="_productId" FriendlyName="Product Id" IncludeInOutput="true" />
		<Column Id="ProductName" CSType="System.String" PropertyName="ProductName" FieldName="_productName" FriendlyName="Product Name" IncludeInOutput="true" />
		<Column Id="SupplierID" CSType="System.Int32?" PropertyName="SupplierId" FieldName="_supplierId" FriendlyName="Supplier Id" IncludeInOutput="true" />
		<Column Id="CategoryID" CSType="System.Int32?" PropertyName="CategoryId" FieldName="_categoryId" FriendlyName="Category Id" IncludeInOutput="true" />
		<Column Id="QuantityPerUnit" CSType="System.String" PropertyName="QuantityPerUnit" FieldName="_quantityPerUnit" FriendlyName="Quantity Per Unit" IncludeInOutput="true" />
		<Column Id="UnitPrice" CSType="System.Decimal?" PropertyName="UnitPrice" FieldName="_unitPrice" FriendlyName="Unit Price" IncludeInOutput="true" />
		<Column Id="UnitsInStock" CSType="System.Int16?" PropertyName="UnitsInStock" FieldName="_unitsInStock" FriendlyName="Units In Stock" IncludeInOutput="true" />
		<Column Id="UnitsOnOrder" CSType="System.Int16?" PropertyName="UnitsOnOrder" FieldName="_unitsOnOrder" FriendlyName="Units On Order" IncludeInOutput="true" />
		<Column Id="ReorderLevel" CSType="System.Int16?" PropertyName="ReorderLevel" FieldName="_reorderLevel" FriendlyName="Reorder Level" IncludeInOutput="true" />
		<Column Id="Discontinued" CSType="System.Boolean" PropertyName="Discontinued" FieldName="_discontinued" FriendlyName="Discontinued" IncludeInOutput="true" />
		<ChildCollection Id="OrderDetailsCollection" PropertyName="OrderDetailsCollection" FieldName="_orderDetailsProductId" FriendlyName="OrderDetailsCollection" CSType="TList&lt;OrderDetails&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Order_Details_Products" IncludeInOutput="true"/>
		<ChildCollection Id="OrderIdOrdersCollection_From_OrderDetails" PropertyName="OrderIdOrdersCollection_From_OrderDetails" FieldName="orderIdOrdersCollectionFromOrderDetails" FriendlyName="OrderIdOrdersCollection_From_OrderDetails" CSType="TList&lt;Orders&gt;" RelationshipType="ManyToMany" ForeignKeyName="FK_Order_Details_Products" IncludeInOutput="true"/>
	</Table>
	<Table Id="Region" EntityName="Region" Owner="dbo" PropertyName="Region" FieldName="_region" FriendlyName="Region" IncludeInOutput="true">
		<Column Id="RegionID" CSType="System.Int32" PropertyName="RegionId" FieldName="_regionId" FriendlyName="Region Id" IncludeInOutput="true" />
		<Column Id="RegionDescription" CSType="System.String" PropertyName="RegionDescription" FieldName="_regionDescription" FriendlyName="Region Description" IncludeInOutput="true" />
		<ChildCollection Id="TerritoriesCollection" PropertyName="TerritoriesCollection" FieldName="_territoriesRegionId" FriendlyName="TerritoriesCollection" CSType="TList&lt;Territories&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Territories_Region" IncludeInOutput="true"/>
	</Table>
	<Table Id="Shippers" EntityName="Shippers" Owner="dbo" PropertyName="Shippers" FieldName="_shippers" FriendlyName="Shippers" IncludeInOutput="true">
		<Column Id="ShipperID" CSType="System.Int32" PropertyName="ShipperId" FieldName="_shipperId" FriendlyName="Shipper Id" IncludeInOutput="true" />
		<Column Id="CompanyName" CSType="System.String" PropertyName="CompanyName" FieldName="_companyName" FriendlyName="Company Name" IncludeInOutput="true" />
		<Column Id="Phone" CSType="System.String" PropertyName="Phone" FieldName="_phone" FriendlyName="Phone" IncludeInOutput="true" />
		<ChildCollection Id="OrdersCollection" PropertyName="OrdersCollection" FieldName="_ordersShipVia" FriendlyName="OrdersCollection" CSType="TList&lt;Orders&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Orders_Shippers" IncludeInOutput="true"/>
	</Table>
	<Table Id="Suppliers" EntityName="Suppliers" Owner="dbo" PropertyName="Suppliers" FieldName="_suppliers" FriendlyName="Suppliers" IncludeInOutput="true">
		<Column Id="SupplierID" CSType="System.Int32" PropertyName="SupplierId" FieldName="_supplierId" FriendlyName="Supplier Id" IncludeInOutput="true" />
		<Column Id="CompanyName" CSType="System.String" PropertyName="CompanyName" FieldName="_companyName" FriendlyName="Company Name" IncludeInOutput="true" />
		<Column Id="ContactName" CSType="System.String" PropertyName="ContactName" FieldName="_contactName" FriendlyName="Contact Name" IncludeInOutput="true" />
		<Column Id="ContactTitle" CSType="System.String" PropertyName="ContactTitle" FieldName="_contactTitle" FriendlyName="Contact Title" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="City" CSType="System.String" PropertyName="City" FieldName="_city" FriendlyName="City" IncludeInOutput="true" />
		<Column Id="Region" CSType="System.String" PropertyName="Region" FieldName="_region" FriendlyName="Region" IncludeInOutput="true" />
		<Column Id="PostalCode" CSType="System.String" PropertyName="PostalCode" FieldName="_postalCode" FriendlyName="Postal Code" IncludeInOutput="true" />
		<Column Id="Country" CSType="System.String" PropertyName="Country" FieldName="_country" FriendlyName="Country" IncludeInOutput="true" />
		<Column Id="Phone" CSType="System.String" PropertyName="Phone" FieldName="_phone" FriendlyName="Phone" IncludeInOutput="true" />
		<Column Id="Fax" CSType="System.String" PropertyName="Fax" FieldName="_fax" FriendlyName="Fax" IncludeInOutput="true" />
		<Column Id="HomePage" CSType="System.String" PropertyName="HomePage" FieldName="_homePage" FriendlyName="Home Page" IncludeInOutput="true" />
		<ChildCollection Id="ProductsCollection" PropertyName="ProductsCollection" FieldName="_productsSupplierId" FriendlyName="ProductsCollection" CSType="TList&lt;Products&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Products_Suppliers" IncludeInOutput="true"/>
	</Table>
	<Table Id="Territories" EntityName="Territories" Owner="dbo" PropertyName="Territories" FieldName="_territories" FriendlyName="Territories" IncludeInOutput="true">
		<Column Id="TerritoryID" CSType="System.String" PropertyName="TerritoryId" FieldName="_territoryId" FriendlyName="Territory Id" IncludeInOutput="true" />
		<Column Id="TerritoryDescription" CSType="System.String" PropertyName="TerritoryDescription" FieldName="_territoryDescription" FriendlyName="Territory Description" IncludeInOutput="true" />
		<Column Id="RegionID" CSType="System.Int32" PropertyName="RegionId" FieldName="_regionId" FriendlyName="Region Id" IncludeInOutput="true" />
		<ChildCollection Id="EmployeeIdEmployeesCollection_From_EmployeeTerritories" PropertyName="EmployeeIdEmployeesCollection_From_EmployeeTerritories" FieldName="employeeIdEmployeesCollectionFromEmployeeTerritories" FriendlyName="EmployeeIdEmployeesCollection_From_EmployeeTerritories" CSType="TList&lt;Employees&gt;" RelationshipType="ManyToMany" ForeignKeyName="FK_EmployeeTerritories_Territories" IncludeInOutput="true"/>
		<ChildCollection Id="EmployeeTerritoriesCollection" PropertyName="EmployeeTerritoriesCollection" FieldName="_employeeTerritoriesTerritoryId" FriendlyName="EmployeeTerritoriesCollection" CSType="TList&lt;EmployeeTerritories&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_EmployeeTerritories_Territories" IncludeInOutput="true"/>
	</Table>
	<View Id="Alphabetical list of products" EntityName="AlphabeticalListOfProducts" Owner="dbo" PropertyName="AlphabeticalListOfProducts" FieldName="_alphabeticalListOfProducts" FriendlyName="Alphabetical List Of Products" IncludeInOutput="true">
		<Column Id="ProductID" CSType="System.Int32" PropertyName="ProductId" FieldName="_productId" FriendlyName="Product Id" IncludeInOutput="true" />
		<Column Id="ProductName" CSType="System.String" PropertyName="ProductName" FieldName="_productName" FriendlyName="Product Name" IncludeInOutput="true" />
		<Column Id="SupplierID" CSType="System.Int32?" PropertyName="SupplierId" FieldName="_supplierId" FriendlyName="Supplier Id" IncludeInOutput="true" />
		<Column Id="CategoryID" CSType="System.Int32?" PropertyName="CategoryId" FieldName="_categoryId" FriendlyName="Category Id" IncludeInOutput="true" />
		<Column Id="QuantityPerUnit" CSType="System.String" PropertyName="QuantityPerUnit" FieldName="_quantityPerUnit" FriendlyName="Quantity Per Unit" IncludeInOutput="true" />
		<Column Id="UnitPrice" CSType="System.Decimal?" PropertyName="UnitPrice" FieldName="_unitPrice" FriendlyName="Unit Price" IncludeInOutput="true" />
		<Column Id="UnitsInStock" CSType="System.Int16?" PropertyName="UnitsInStock" FieldName="_unitsInStock" FriendlyName="Units In Stock" IncludeInOutput="true" />
		<Column Id="UnitsOnOrder" CSType="System.Int16?" PropertyName="UnitsOnOrder" FieldName="_unitsOnOrder" FriendlyName="Units On Order" IncludeInOutput="true" />
		<Column Id="ReorderLevel" CSType="System.Int16?" PropertyName="ReorderLevel" FieldName="_reorderLevel" FriendlyName="Reorder Level" IncludeInOutput="true" />
		<Column Id="Discontinued" CSType="System.Boolean" PropertyName="Discontinued" FieldName="_discontinued" FriendlyName="Discontinued" IncludeInOutput="true" />
		<Column Id="CategoryName" CSType="System.String" PropertyName="CategoryName" FieldName="_categoryName" FriendlyName="Category Name" IncludeInOutput="true" />
	</View>
	<View Id="Category Sales for 1997" EntityName="CategorySalesFor1997" Owner="dbo" PropertyName="CategorySalesFor1997" FieldName="_categorySalesFor1997" FriendlyName="Category Sales For1997" IncludeInOutput="true">
		<Column Id="CategoryName" CSType="System.String" PropertyName="CategoryName" FieldName="_categoryName" FriendlyName="Category Name" IncludeInOutput="true" />
		<Column Id="CategorySales" CSType="System.Decimal?" PropertyName="CategorySales" FieldName="_categorySales" FriendlyName="Category Sales" IncludeInOutput="true" />
	</View>
	<View Id="Current Product List" EntityName="CurrentProductList" Owner="dbo" PropertyName="CurrentProductList" FieldName="_currentProductList" FriendlyName="Current Product List" IncludeInOutput="true">
		<Column Id="ProductID" CSType="System.Int32" PropertyName="ProductId" FieldName="_productId" FriendlyName="Product Id" IncludeInOutput="true" />
		<Column Id="ProductName" CSType="System.String" PropertyName="ProductName" FieldName="_productName" FriendlyName="Product Name" IncludeInOutput="true" />
	</View>
	<View Id="Customer and Suppliers by City" EntityName="CustomerAndSuppliersByCity" Owner="dbo" PropertyName="CustomerAndSuppliersByCity" FieldName="_customerAndSuppliersByCity" FriendlyName="Customer And Suppliers By City" IncludeInOutput="true">
		<Column Id="City" CSType="System.String" PropertyName="City" FieldName="_city" FriendlyName="City" IncludeInOutput="true" />
		<Column Id="CompanyName" CSType="System.String" PropertyName="CompanyName" FieldName="_companyName" FriendlyName="Company Name" IncludeInOutput="true" />
		<Column Id="ContactName" CSType="System.String" PropertyName="ContactName" FieldName="_contactName" FriendlyName="Contact Name" IncludeInOutput="true" />
		<Column Id="Relationship" CSType="System.String" PropertyName="Relationship" FieldName="_relationship" FriendlyName="Relationship" IncludeInOutput="true" />
	</View>
	<View Id="Invoices" EntityName="Invoices" Owner="dbo" PropertyName="Invoices" FieldName="_invoices" FriendlyName="Invoices" IncludeInOutput="true">
		<Column Id="ShipName" CSType="System.String" PropertyName="ShipName" FieldName="_shipName" FriendlyName="Ship Name" IncludeInOutput="true" />
		<Column Id="ShipAddress" CSType="System.String" PropertyName="ShipAddress" FieldName="_shipAddress" FriendlyName="Ship Address" IncludeInOutput="true" />
		<Column Id="ShipCity" CSType="System.String" PropertyName="ShipCity" FieldName="_shipCity" FriendlyName="Ship City" IncludeInOutput="true" />
		<Column Id="ShipRegion" CSType="System.String" PropertyName="ShipRegion" FieldName="_shipRegion" FriendlyName="Ship Region" IncludeInOutput="true" />
		<Column Id="ShipPostalCode" CSType="System.String" PropertyName="ShipPostalCode" FieldName="_shipPostalCode" FriendlyName="Ship Postal Code" IncludeInOutput="true" />
		<Column Id="ShipCountry" CSType="System.String" PropertyName="ShipCountry" FieldName="_shipCountry" FriendlyName="Ship Country" IncludeInOutput="true" />
		<Column Id="CustomerID" CSType="System.String" PropertyName="CustomerId" FieldName="_customerId" FriendlyName="Customer Id" IncludeInOutput="true" />
		<Column Id="CustomerName" CSType="System.String" PropertyName="CustomerName" FieldName="_customerName" FriendlyName="Customer Name" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="City" CSType="System.String" PropertyName="City" FieldName="_city" FriendlyName="City" IncludeInOutput="true" />
		<Column Id="Region" CSType="System.String" PropertyName="Region" FieldName="_region" FriendlyName="Region" IncludeInOutput="true" />
		<Column Id="PostalCode" CSType="System.String" PropertyName="PostalCode" FieldName="_postalCode" FriendlyName="Postal Code" IncludeInOutput="true" />
		<Column Id="Country" CSType="System.String" PropertyName="Country" FieldName="_country" FriendlyName="Country" IncludeInOutput="true" />
		<Column Id="Salesperson" CSType="System.String" PropertyName="Salesperson" FieldName="_salesperson" FriendlyName="Salesperson" IncludeInOutput="true" />
		<Column Id="OrderID" CSType="System.Int32" PropertyName="OrderId" FieldName="_orderId" FriendlyName="Order Id" IncludeInOutput="true" />
		<Column Id="OrderDate" CSType="System.DateTime?" PropertyName="OrderDate" FieldName="_orderDate" FriendlyName="Order Date" IncludeInOutput="true" />
		<Column Id="RequiredDate" CSType="System.DateTime?" PropertyName="RequiredDate" FieldName="_requiredDate" FriendlyName="Required Date" IncludeInOutput="true" />
		<Column Id="ShippedDate" CSType="System.DateTime?" PropertyName="ShippedDate" FieldName="_shippedDate" FriendlyName="Shipped Date" IncludeInOutput="true" />
		<Column Id="ShipperName" CSType="System.String" PropertyName="ShipperName" FieldName="_shipperName" FriendlyName="Shipper Name" IncludeInOutput="true" />
		<Column Id="ProductID" CSType="System.Int32" PropertyName="ProductId" FieldName="_productId" FriendlyName="Product Id" IncludeInOutput="true" />
		<Column Id="ProductName" CSType="System.String" PropertyName="ProductName" FieldName="_productName" FriendlyName="Product Name" IncludeInOutput="true" />
		<Column Id="UnitPrice" CSType="System.Decimal" PropertyName="UnitPrice" FieldName="_unitPrice" FriendlyName="Unit Price" IncludeInOutput="true" />
		<Column Id="Quantity" CSType="System.Int16" PropertyName="Quantity" FieldName="_quantity" FriendlyName="Quantity" IncludeInOutput="true" />
		<Column Id="Discount" CSType="System.Single" PropertyName="Discount" FieldName="_discount" FriendlyName="Discount" IncludeInOutput="true" />
		<Column Id="ExtendedPrice" CSType="System.Decimal?" PropertyName="ExtendedPrice" FieldName="_extendedPrice" FriendlyName="Extended Price" IncludeInOutput="true" />
		<Column Id="Freight" CSType="System.Decimal?" PropertyName="Freight" FieldName="_freight" FriendlyName="Freight" IncludeInOutput="true" />
	</View>
	<View Id="Order Details Extended" EntityName="OrderDetailsExtended" Owner="dbo" PropertyName="OrderDetailsExtended" FieldName="_orderDetailsExtended" FriendlyName="Order Details Extended" IncludeInOutput="true">
		<Column Id="OrderID" CSType="System.Int32" PropertyName="OrderId" FieldName="_orderId" FriendlyName="Order Id" IncludeInOutput="true" />
		<Column Id="ProductID" CSType="System.Int32" PropertyName="ProductId" FieldName="_productId" FriendlyName="Product Id" IncludeInOutput="true" />
		<Column Id="ProductName" CSType="System.String" PropertyName="ProductName" FieldName="_productName" FriendlyName="Product Name" IncludeInOutput="true" />
		<Column Id="UnitPrice" CSType="System.Decimal" PropertyName="UnitPrice" FieldName="_unitPrice" FriendlyName="Unit Price" IncludeInOutput="true" />
		<Column Id="Quantity" CSType="System.Int16" PropertyName="Quantity" FieldName="_quantity" FriendlyName="Quantity" IncludeInOutput="true" />
		<Column Id="Discount" CSType="System.Single" PropertyName="Discount" FieldName="_discount" FriendlyName="Discount" IncludeInOutput="true" />
		<Column Id="ExtendedPrice" CSType="System.Decimal?" PropertyName="ExtendedPrice" FieldName="_extendedPrice" FriendlyName="Extended Price" IncludeInOutput="true" />
	</View>
	<View Id="Order Subtotals" EntityName="OrderSubtotals" Owner="dbo" PropertyName="OrderSubtotals" FieldName="_orderSubtotals" FriendlyName="Order Subtotals" IncludeInOutput="true">
		<Column Id="OrderID" CSType="System.Int32" PropertyName="OrderId" FieldName="_orderId" FriendlyName="Order Id" IncludeInOutput="true" />
		<Column Id="Subtotal" CSType="System.Decimal?" PropertyName="Subtotal" FieldName="_subtotal" FriendlyName="Subtotal" IncludeInOutput="true" />
	</View>
	<View Id="Orders Qry" EntityName="OrdersQry" Owner="dbo" PropertyName="OrdersQry" FieldName="_ordersQry" FriendlyName="Orders Qry" IncludeInOutput="true">
		<Column Id="OrderID" CSType="System.Int32" PropertyName="OrderId" FieldName="_orderId" FriendlyName="Order Id" IncludeInOutput="true" />
		<Column Id="CustomerID" CSType="System.String" PropertyName="CustomerId" FieldName="_customerId" FriendlyName="Customer Id" IncludeInOutput="true" />
		<Column Id="EmployeeID" CSType="System.Int32?" PropertyName="EmployeeId" FieldName="_employeeId" FriendlyName="Employee Id" IncludeInOutput="true" />
		<Column Id="OrderDate" CSType="System.DateTime?" PropertyName="OrderDate" FieldName="_orderDate" FriendlyName="Order Date" IncludeInOutput="true" />
		<Column Id="RequiredDate" CSType="System.DateTime?" PropertyName="RequiredDate" FieldName="_requiredDate" FriendlyName="Required Date" IncludeInOutput="true" />
		<Column Id="ShippedDate" CSType="System.DateTime?" PropertyName="ShippedDate" FieldName="_shippedDate" FriendlyName="Shipped Date" IncludeInOutput="true" />
		<Column Id="ShipVia" CSType="System.Int32?" PropertyName="ShipVia" FieldName="_shipVia" FriendlyName="Ship Via" IncludeInOutput="true" />
		<Column Id="Freight" CSType="System.Decimal?" PropertyName="Freight" FieldName="_freight" FriendlyName="Freight" IncludeInOutput="true" />
		<Column Id="ShipName" CSType="System.String" PropertyName="ShipName" FieldName="_shipName" FriendlyName="Ship Name" IncludeInOutput="true" />
		<Column Id="ShipAddress" CSType="System.String" PropertyName="ShipAddress" FieldName="_shipAddress" FriendlyName="Ship Address" IncludeInOutput="true" />
		<Column Id="ShipCity" CSType="System.String" PropertyName="ShipCity" FieldName="_shipCity" FriendlyName="Ship City" IncludeInOutput="true" />
		<Column Id="ShipRegion" CSType="System.String" PropertyName="ShipRegion" FieldName="_shipRegion" FriendlyName="Ship Region" IncludeInOutput="true" />
		<Column Id="ShipPostalCode" CSType="System.String" PropertyName="ShipPostalCode" FieldName="_shipPostalCode" FriendlyName="Ship Postal Code" IncludeInOutput="true" />
		<Column Id="ShipCountry" CSType="System.String" PropertyName="ShipCountry" FieldName="_shipCountry" FriendlyName="Ship Country" IncludeInOutput="true" />
		<Column Id="CompanyName" CSType="System.String" PropertyName="CompanyName" FieldName="_companyName" FriendlyName="Company Name" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="City" CSType="System.String" PropertyName="City" FieldName="_city" FriendlyName="City" IncludeInOutput="true" />
		<Column Id="Region" CSType="System.String" PropertyName="Region" FieldName="_region" FriendlyName="Region" IncludeInOutput="true" />
		<Column Id="PostalCode" CSType="System.String" PropertyName="PostalCode" FieldName="_postalCode" FriendlyName="Postal Code" IncludeInOutput="true" />
		<Column Id="Country" CSType="System.String" PropertyName="Country" FieldName="_country" FriendlyName="Country" IncludeInOutput="true" />
	</View>
	<View Id="Product Sales for 1997" EntityName="ProductSalesFor1997" Owner="dbo" PropertyName="ProductSalesFor1997" FieldName="_productSalesFor1997" FriendlyName="Product Sales For1997" IncludeInOutput="true">
		<Column Id="CategoryName" CSType="System.String" PropertyName="CategoryName" FieldName="_categoryName" FriendlyName="Category Name" IncludeInOutput="true" />
		<Column Id="ProductName" CSType="System.String" PropertyName="ProductName" FieldName="_productName" FriendlyName="Product Name" IncludeInOutput="true" />
		<Column Id="ProductSales" CSType="System.Decimal?" PropertyName="ProductSales" FieldName="_productSales" FriendlyName="Product Sales" IncludeInOutput="true" />
	</View>
	<View Id="Products Above Average Price" EntityName="ProductsAboveAveragePrice" Owner="dbo" PropertyName="ProductsAboveAveragePrice" FieldName="_productsAboveAveragePrice" FriendlyName="Products Above Average Price" IncludeInOutput="true">
		<Column Id="ProductName" CSType="System.String" PropertyName="ProductName" FieldName="_productName" FriendlyName="Product Name" IncludeInOutput="true" />
		<Column Id="UnitPrice" CSType="System.Decimal?" PropertyName="UnitPrice" FieldName="_unitPrice" FriendlyName="Unit Price" IncludeInOutput="true" />
	</View>
	<View Id="Products by Category" EntityName="ProductsByCategory" Owner="dbo" PropertyName="ProductsByCategory" FieldName="_productsByCategory" FriendlyName="Products By Category" IncludeInOutput="true">
		<Column Id="CategoryName" CSType="System.String" PropertyName="CategoryName" FieldName="_categoryName" FriendlyName="Category Name" IncludeInOutput="true" />
		<Column Id="ProductName" CSType="System.String" PropertyName="ProductName" FieldName="_productName" FriendlyName="Product Name" IncludeInOutput="true" />
		<Column Id="QuantityPerUnit" CSType="System.String" PropertyName="QuantityPerUnit" FieldName="_quantityPerUnit" FriendlyName="Quantity Per Unit" IncludeInOutput="true" />
		<Column Id="UnitsInStock" CSType="System.Int16?" PropertyName="UnitsInStock" FieldName="_unitsInStock" FriendlyName="Units In Stock" IncludeInOutput="true" />
		<Column Id="Discontinued" CSType="System.Boolean" PropertyName="Discontinued" FieldName="_discontinued" FriendlyName="Discontinued" IncludeInOutput="true" />
	</View>
	<View Id="Quarterly Orders" EntityName="QuarterlyOrders" Owner="dbo" PropertyName="QuarterlyOrders" FieldName="_quarterlyOrders" FriendlyName="Quarterly Orders" IncludeInOutput="true">
		<Column Id="CustomerID" CSType="System.String" PropertyName="CustomerId" FieldName="_customerId" FriendlyName="Customer Id" IncludeInOutput="true" />
		<Column Id="CompanyName" CSType="System.String" PropertyName="CompanyName" FieldName="_companyName" FriendlyName="Company Name" IncludeInOutput="true" />
		<Column Id="City" CSType="System.String" PropertyName="City" FieldName="_city" FriendlyName="City" IncludeInOutput="true" />
		<Column Id="Country" CSType="System.String" PropertyName="Country" FieldName="_country" FriendlyName="Country" IncludeInOutput="true" />
	</View>
	<View Id="Sales by Category" EntityName="SalesByCategory" Owner="dbo" PropertyName="SalesByCategory" FieldName="_salesByCategory" FriendlyName="Sales By Category" IncludeInOutput="true">
		<Column Id="CategoryID" CSType="System.Int32" PropertyName="CategoryId" FieldName="_categoryId" FriendlyName="Category Id" IncludeInOutput="true" />
		<Column Id="CategoryName" CSType="System.String" PropertyName="CategoryName" FieldName="_categoryName" FriendlyName="Category Name" IncludeInOutput="true" />
		<Column Id="ProductName" CSType="System.String" PropertyName="ProductName" FieldName="_productName" FriendlyName="Product Name" IncludeInOutput="true" />
		<Column Id="ProductSales" CSType="System.Decimal?" PropertyName="ProductSales" FieldName="_productSales" FriendlyName="Product Sales" IncludeInOutput="true" />
	</View>
	<View Id="Sales Totals by Amount" EntityName="SalesTotalsByAmount" Owner="dbo" PropertyName="SalesTotalsByAmount" FieldName="_salesTotalsByAmount" FriendlyName="Sales Totals By Amount" IncludeInOutput="true">
		<Column Id="SaleAmount" CSType="System.Decimal?" PropertyName="SaleAmount" FieldName="_saleAmount" FriendlyName="Sale Amount" IncludeInOutput="true" />
		<Column Id="OrderID" CSType="System.Int32" PropertyName="OrderId" FieldName="_orderId" FriendlyName="Order Id" IncludeInOutput="true" />
		<Column Id="CompanyName" CSType="System.String" PropertyName="CompanyName" FieldName="_companyName" FriendlyName="Company Name" IncludeInOutput="true" />
		<Column Id="ShippedDate" CSType="System.DateTime?" PropertyName="ShippedDate" FieldName="_shippedDate" FriendlyName="Shipped Date" IncludeInOutput="true" />
	</View>
	<View Id="Summary of Sales by Quarter" EntityName="SummaryOfSalesByQuarter" Owner="dbo" PropertyName="SummaryOfSalesByQuarter" FieldName="_summaryOfSalesByQuarter" FriendlyName="Summary Of Sales By Quarter" IncludeInOutput="true">
		<Column Id="ShippedDate" CSType="System.DateTime?" PropertyName="ShippedDate" FieldName="_shippedDate" FriendlyName="Shipped Date" IncludeInOutput="true" />
		<Column Id="OrderID" CSType="System.Int32" PropertyName="OrderId" FieldName="_orderId" FriendlyName="Order Id" IncludeInOutput="true" />
		<Column Id="Subtotal" CSType="System.Decimal?" PropertyName="Subtotal" FieldName="_subtotal" FriendlyName="Subtotal" IncludeInOutput="true" />
	</View>
	<View Id="Summary of Sales by Year" EntityName="SummaryOfSalesByYear" Owner="dbo" PropertyName="SummaryOfSalesByYear" FieldName="_summaryOfSalesByYear" FriendlyName="Summary Of Sales By Year" IncludeInOutput="true">
		<Column Id="ShippedDate" CSType="System.DateTime?" PropertyName="ShippedDate" FieldName="_shippedDate" FriendlyName="Shipped Date" IncludeInOutput="true" />
		<Column Id="OrderID" CSType="System.Int32" PropertyName="OrderId" FieldName="_orderId" FriendlyName="Order Id" IncludeInOutput="true" />
		<Column Id="Subtotal" CSType="System.Decimal?" PropertyName="Subtotal" FieldName="_subtotal" FriendlyName="Subtotal" IncludeInOutput="true" />
	</View>
</NetTiersMap>
